<!DOCTYPE html>
<html>
    <head>
        <title>Image Search</title>
        <style>
            body{
                background-image: url("<%= imageUrl %>");
                background-repeat: no-repeat;
                background-size: cover;
                text-align: center;
            }
        </style>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    </head>