<!DOCTYPE html>
<html>
    <head>
        <title>Image Search</title>
        <style>
            body{
                background-image: url("https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80");
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    </head>