<%- include('partials/header.ejs') %>
    <body>
        <main>
                <h1 class="bg-white text-dark py-2 my-0">My Favorites</h1>
                <div class="bg-white text-dar py-3 d-flex justify-content-between px-5">
                    <!-- Keyword Links -->
                    <div>
                        <% 
                            // Displaying 5 keyowrds per row
                            rows.forEach(function(row, i){ %>
                            <a class="keywordLink d-inline rounded px-2 mx-1" href="#"><%= row["keyword"] %></a>
                            <%- ((i+1) % 5 == 0) ? '<br>' : '' %>
                        
                        <% }); %>
                    </div>
                    <div id="favorites" class="pt-5 d-flex"></div>
                    <input type="hidden" id="keywordSelected">
                    <div>
                        <a href="/"><button class="rounded bg-dark text-white px-2 mx-2"><strong>Back to Search <i class="fas fa-search"></i></strong></button></a>
                    </div>
                </div>
        </main>
<%- include('partials/footer.ejs') %>
    </body>
</html>