<%- include('partials/header.ejs') %>
    <body>
        <main>
                <h1>Images</h1>
                <form action="/search">
                    <input type="text" placeholder="Type keyword" name="keyword"/></input>
                    <button>Search </button>
                    <br><br>
                    </form>
        </main>
<%- include('partials/footer.ejs') %>
    </body>
</html>