<%- include('partials/header.ejs') %>
    <body>
        <main>
                <h1>Images</h1>
                <form action="/search">
                    <input type="text" placeholder="Type keyword" name="keyword"/></input>
                    <button>Search</button>
                    <br><br>
                    <% imageUrlArray.forEach(function(imageUrl){ %>
                        <img src='<%= imageUrl %>' width='200' height='200'/>
                    <% }); %>
                </form>
        </main>
<%- include('partials/footer.ejs') %>
    </body>
</html>