.img-frame{
    background-color: white;
    color: blue;
    display: inline-block;
    border: 10px solid white;
    margin: 2%;
    box-shadow: 0 6px 6px rgba(0,0,0,0.05);
}

.favoriteIcon{
    color: gray;
    padding-top: 3%;
}

a{
    color: #343a40;
}

a:hover{
    text-decoration: none;
    color: red!important;
}

.keywordLink{
    font-weight: 600;
}

footer{
    color: #343a40;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    padding: .5% 0;
}